@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none;
}

.required {
    @apply font-bold text-red-600 ml-1;
}

.button {
    @apply inline-flex items-center justify-center px-4 py-2 bg-gray-800 dark:bg-gray-200 border border-transparent rounded-md font-semibold text-xs text-white dark:text-gray-800 uppercase tracking-widest hover:bg-gray-700 dark:hover:bg-white focus:bg-gray-700 dark:focus:bg-white active:bg-gray-900 dark:active:bg-gray-300 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 dark:focus:ring-offset-gray-800 transition ease-in-out duration-150;
}

.button-secondary {
    @apply inline-flex items-center justify-center px-4 py-2 bg-transparent border border-gray-300 rounded-md font-semibold text-xs text-gray-800 dark:text-white uppercase tracking-widest hover:bg-gray-200 hover:border-gray-400 focus:bg-white active:bg-gray-300 focus:outline-none focus:ring-2 focus:ring-offset-gray-800 focus:ring-offset-2 transition ease-in-out duration-150;
}

.application-status-pending {
    @apply bg-orange-100 border-orange-300 text-orange-700;
}

.application-status-approved {
    @apply bg-green-100 border-green-300 text-green-700;
}

.application-status-rejected {
    @apply bg-red-100 border-red-300 text-red-700;
}

.spinner {
    text-align: center;
}

.spinner > div {
    width: 18px;
    height: 18px;
    @apply bg-indigo-700;

    border-radius: 100%;
    display: inline-block;
    -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}

.spinner .bounce2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
    0%, 80%, 100% { -webkit-transform: scale(0) }
    40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
    0%, 80%, 100% {
        -webkit-transform: scale(0);
        transform: scale(0);
    } 40% {
          -webkit-transform: scale(1.0);
          transform: scale(1.0);
      }
}

.error {
    @apply text-red-700 text-xs font-bold;
}
